// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main_navbar {
    margin-bottom: 40px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #000;

    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}

/* Add container and footer space */
#app>div.container {
    margin-bottom: 100px;
}

/* User register page */
.register-page {
    img.captcha {
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: 3px;
    }
}

/* Topic Index Page */
.repositories-index-page {
    .repository-list {
        .nav>li>a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }

        .repository_name {
            color: #000000;
            text-decoration: none;
        }

        .repository_meta {
            color: #666666;
            font-size: 0.9em;

            a {
                text-decoration: none;
                color: #666666;
            }
        }

        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #979da0;
        }
    }
}
